@import 'fonts.css';


/* **** Root **** */
:root {
    --CB: 'Comfortaa-Bold';
    --CR: 'Comfortaa-Regular';
    --MR: 'Monserrat-Regular';
    --MB: 'Monserrat-Bold';
    --RM: 'Roboto-Medium';
    --RR: 'Roboto-Regular';
    --dark_blue: #040D1F;
    --white: #ffffff;
    --grey: #C8C8C8;
    --orang: #ED8E00;
}

*::selection {
    background: orange;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ED8E00;
    border-radius: 30px;
}




/* **** Root end **** */

.films {
    padding-top: 60px;
    padding-bottom: 70px;
}

.films-title {
    color: #F18128;
    font-family: var(--CR);
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    width: max-content;
}

.films-title:after {
    content: '';
    display: block;
    height: 2px;
    background: var(--orang);
    margin-top: 10px;
}

.films-catalog {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: 380px;
}

.films-item {
    overflow: hidden;
    position: relative;
    padding: 56px 15px 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.80) 100%);
}

.films-item__img {
    border-radius: 6px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 500ms;
}

.films-item__icon {
    font-size: 45px;
    color: var(--white);
}

.films-item__time {
    color: #FFF;
    font-family: var(--MR);
    font-size: 14px;
    line-height: 10px;
    /* 71.429% */
    border-radius: 9px;
    border: 1px solid #FFF;
    background: rgba(7, 15, 25, 0.20);
    height: 25px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 32px;
}

.films-item__title {
    color: #FFF;
    text-align: center;
    font-family: var(--MR);
    font-size: 22px;
    line-height: 27px;
}

.films-item__text {
    color: #FFF;
    font-family: var(--RR);
    font-size: 14px;
    line-height: 21px;
    margin-top: 13px;
    overflow: auto;
}

.films-item:hover .films-item__img {
    transform: scale(1.2);
}

.films-item__text::-webkit-scrollbar-thumb {
    background: transparent;
}

/* ***8MEDIYA STAR**** */

@media (max-width: 1100px) {

    .films-catalog {
        grid-template-columns: repeat(2,1fr);

    }

}

@media (max-width: 576px) {

    .films-catalog {
        grid-template-columns: repeat(1,1fr);
        grid-auto-rows: 520px   ;

    }

}




/* ***MEDIYA END*** */